body 
{
    display:flex;
    justify-conten:center;
    align-items:center;
    min-height:100vh;
    background:#000;
    
}

h2
{
    text-transform:capitalize ;
    font-size:45px;
    color:#fff;
    
    width:100%;
    text-align:center;
}

h2 span
{
    animation:animate 3s linear infinite ;
}

h2 span:nth-child(odd)
{
    animation-delay:0.4s;
}


@keyframes animate
{
    0%,12%,22%,50.1%,55%,80.1%,92%
    {
       color:#rgba(238,25,25,0.349); 
       text-shadow:none;
    }
    
    12.1%,22.1%,30%,50%,55.1%,80%,92.1%,100%
    {
        color:#fff;
        text-shadow:0 0 5px #e64646,
        0 0 10px #e64646,
        0 0 20px #e64646,
        0 0 30px #e64646,
        0 0 60px #e64646;
        
    }
}
